@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Raleway:wght@600;700;800;900&family=Roboto:wght@400;500&display=swap');

h1 {
    font-family: 'raleway';
    font-weight: 800;
    font-size: 45px;
    color: white;
    padding-top: 160px;
    padding-bottom: 100px;
    padding-left: 80px;
    margin: 0;
}   

.bg {
    padding: 0;
    margin: 0;
    background-image: url('/fastfood/images/progressBG.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 0;
    height: 700px;
}

.search-container {
    padding-top: 64px;
    justify-content: center;
    display: flex;
}

.search-input {
    width: 40%;
    height: 25px;
    padding: 12px 24px;
    display: flex;

    /* transition: transform 250ms ease-in-out; */
    
    
    color: #575756;
    background-color: white;

    /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center; */
    border-radius: 50px;
    border: 1px solid #575756;
    /* transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d; */
    
    
}

.searchBox::placeholder {
    color: color(#575756 a(0.8));
    /* text-transform: uppercase; */
    letter-spacing: 1px;
}
    
/* .search-input:hover, .search-input:focus {
    padding: 12px 0;
    outline: 0; */
    /* border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
} */

.searchBox {
    font-size: 16px;
    line-height: 18px;
    width: 100%;
    border: none;
    outline-width: 0;
    
}

/* .searchBox:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-radius: 0;
} */



.submitOrderId {
    background-color: transparent;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.fa-search:hover {
    /* filter: brightness(150%); */
    transition: 80ms;
    transform: scale(1.05);
}

.fa-search:active {
    transform: scale(0.95);
    
}

.response {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.nonexist {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 20px;
}

table {
    width: 98%;
    border-collapse:collapse;
    font-family: 'Roboto', sans-serif;
	/* font-family: 'Montserrat', sans-serif; */
    font-size: 15px;
    margin-bottom: 50px;
}

/* .manageOrder > p, .sameRow > p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
} */

table td,th {
    border:1px solid black;
    /* border-bottom: 1px solid black; */
}

td {
    padding: 8px 10px;
}

th {
    padding: 14px 10px;
    background-color: #e7e9eb;
    font-weight: 500;
}