@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto:wght@500&display=swap');

.food-category {
    padding-top: 50px;
    padding-left: 68px;
    display: flex;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    justify-content: left;
}

.category-container {
    width: 250px;
    height: 350px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: 10px;
    position: relative;
}

/* .category-container:hover {
} */

.category-container img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
}

.category-img {
    padding: 0;
    /* border: 1px solid black; */
    width: 100%;
    height: 195px;
    overflow: hidden; 
    margin: 0 auto;
    border-radius: 10px;
}

.cat-img {
    transition: transform 0.25s;
}

.cat-img:hover {
    transform: scale(1.1);
}

.item-and-price {
    padding-top: 5px;
    position: relative;
    /* border: 1px solid black; */
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    overflow: hidden;
}

.item p {
    margin: 0;
    position: relative;
}

.price p {
    margin: 0;
    position: relative;
}

.item, .price {
    text-align: left;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: bold;
}

.description {
    margin-top: 10px;
    font-size: 1rem;
    color: rgb(32, 33, 36);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    /* border: 1px solid black; */
    margin: 0 auto;
    width: 100%;
    height: 50px;
    display: flex;
    position: relative;
    overflow: hidden;
    text-align: left;
}

.description p {
    position: absolute;
    margin: 0;
    top: 0;   
}


button {
    cursor:pointer; 
}

.number {
    margin: 7px;
}

.minus, .plus {
    width: 27px;
    height: 27px;
    font-size: 25px;
    background: #f2f2f2;
    border-radius: 4px;
    border: 0px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.plus:active {
    background-color: #d7d7d7;
}

.minus:active {
    background-color: #d7d7d7;
}

input {
    height: 27px;
    width:  75px;
    text-align: center;
    font-size: 19px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}