@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto:wght@400;500&display=swap');

.tabBar{
    display: flex;
    justify-content: center;
}

.tabButton{
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    width: 100%;
    border: none;
    font-weight: bolder;
    font-size: large;
    background-color: orange
}

a {
    text-decoration: none;
    color: #5d0000;
}

.tabButton:hover{
    background-color: #982121;
    transition: 0.4s;
    cursor: pointer;
}

.tabButton:hover > a {
    color: yellowgreen;
    transition: 0.4s;
}

body{
    margin: 0;
    padding: 0;
    /* height: 800vh; */
} 


/* footer */
.footer-dark {
    padding:25px 40px 25px 40px;
    color:#f0f9ff;
    background-color:#282d32;
    font-family: 'Roboto', sans-serif;
    margin-top: 60px;
}

.footer-container {
    display: block;
    justify-content: center;
}

.footer-dark h3 {
    margin-top:12px;
    font-weight:bold;
    font-size:16px;
}

.footer-dark h3 > a {
    color: white;
}

.footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
}

.footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
}

.footer-dark ul a:hover {
    opacity:0.8;
}

.footer-dark .items.text {
    margin-bottom:36px;
}

.footer-dark .items.text p {
    opacity:0.6;
    margin-bottom:0;
    font-size: 14px;
    text-align: justify;
}

.footer-dark .items.social {
    text-align:center;
    
}

.footer-dark .items.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
}

.footer-dark .items.social > a:hover {
    opacity:0.9;
}

.footer-dark .copyright {
    text-align:center;
    padding-top: 24px;
    margin: 0;
    opacity:0.5;
    font-size:13px;
}
